.box{
  border:1px solid rgb(187, 186, 186);
  background-color:white;
  width:480px;
  height:800px;
}

.box_up{
  background-color:#FFB4BE;
  width:480px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line{
  background-color: white;
  width: 35px;
  height: 2px;
  margin: 0 auto;
}

.state_message{
  width: 350px;
  font-size: 10pt;
  color: white;
  line-height: 14pt;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  top:490px;
  left:190px;
  /* object-fit:cover //정사각형으로 만들어줌*/
}

.name{
  margin-top: 70px;
  text-align: center;
}

.img_box{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.set{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
}

.text{
  font-size: 10pt;
  margin-top: 5px;
  text-align: center;
}