{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'home.css' %}">
  <title>뉴스</title>
  <style>
  .article{
    width: 100%;
    display: flex;
    text-align: center;
  }
  .article_img{
    width: 300px;
  }
  </style>
</head>
<body>
  {% for article in articles %}
    <div class = "article">
      <div class = "article_left">
        <img src = "{{article.urlToImage}}" class="article_img")/>
      </div>
      <div class = "article_right">
        <h4><a href="{{article.url}}">{{article.title}}</a></h4>
      </div>
    </div>
  {% endfor %}
</body>
</html>