<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <br>
  <h2>댓글보기</h2>
  <ul>
    {% for comment in post.comments.all %}
    <li>{{comment.comment}} <a href = "{% url 'delete' post.pk comment.pk %}">삭제</a></li>
    {% endfor %}
  </ul>
  <h3>댓글 작성하기</h3>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" text="댓글작성" />
  </form>
</body>

</html>